* {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-weight: 400;
  color: rgb(84, 84, 84);
}

h1 {
  color: #63462d;
  padding: 0px !important;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: medium;
  text-align: center;
}

canvas {
  width: 100%;
  height: auto;
}

a {
  color: #63462d;
}
a:visited {
  color: rgb(145, 211, 207);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 3px;
  transition: 0.3s;
  width: 50%;
}

.tab button:hover {
  background-color: #63462d29;
}

.tab button.active {
  background-color: #63462d;
  color: white;
}

.tab {
  overflow: scroll;
  border: 1px solid #63462d;
  padding: 0;
}

.tab-row {
  margin: 7vh 0 1vh;
  font-size: small;
}

.h-row {
  margin: 5vh 0 2vh;
}

.worldimg {
  max-width: 70%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .chart2-div {
    padding-left: 7%;
  }
}
@media (max-width: 768px) {
  .chart2-div {
    margin-top: 7vh;
  }
}

@media (max-width: 991px) {
  canvas {
    height: 50vh;
  }
}

div.buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease-out;
}

.arrow {
  width: auto;
  height: auto;
  margin: 5px;
  color: #545454;
  /* border: 1px solid #545454; */
  border: none;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  padding: 2px;
}

.arrow:hover {
  background-color: #54545400;
  border-color: #545454;
  color: rgb(145, 211, 207);
}
